<form id="center_search" action="/search" method="GET">
  <input id="center_search_field" type="text" name="query" placeholder="Was darf es sein?">
  <input id="center_search_button" type="submit" value="SUCHEN">
</form>
