<!--
############################################################################################
# Template für die Startseite der Suchmaschine, implementiert einen weiteren Teil der      #
# UI-Logik mit Javascript.                                                                 #
############################################################################################
-->
<script>  
window.onload = function(){
  // TODO: Kleine Lösung für Browser die dies nicht unterstützen hinzufügen...
  var canvas = document.getElementById("bg-canvas");
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;
  
  window.onresize = function(){
    var canvas = document.getElementById("bg-canvas");
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    drawGrid(canvas, window.animationKey);
  }
  
  drawGrid(canvas, 0);
  
  window.loadmore = function(page){
    $.ajax({
      type: "GET",
      url: "/search",
      data: {
        query: $("#center_search_field").val(),
        page: page
      },
      dataType: "html",
      success: function(data, status, xhr){
        $("#loadmore").remove();
        html  = $("#results").html();
        newResults = $("#results", data).html();
        html += newResults;
        // Falls newResults ≠ Leerer String (mit Whitespace),
        // einen Link zum Laden weiterer Seiten anzeigen...
        if (! (!newResults || /^\s*$/.test(newResults))) {
          html += "<li id='loadmore' onclick='loadmore(";
          html += (page+1);
          html += ");'>Weitere Resultate laden</li>";
        }
        $("#results").html(html);
      },
      error: function(xhr, errorType, error){
        html  = $("#results").html();
        html += "<li style='text-align:center;'>";
        html += "Die Resultate konnten nicht geladen werden.";
        html += "</li>";
        $("#results").html(html);
      }
    });
  }
  
  // Handler für das Formular hinzufügen...
  var searchButton = document.getElementById("center_search_button");
  searchButton.onclick = function(){
    if (!window.resultsPage){
      window.resultsPage = true;
      runAnimation();
    }
    
    $("#results").html("");
    window.loadmore(1);
    return false;
  };
};
</script>

<form id="center_search" action="/search" method="GET">
  <input
    id="center_search_field"
    type="text"
    name="query"
    placeholder="Eingabe Suchanfrage">
  <input
    id="center_search_button"
    type="submit"
    value="SUCHEN">
</form>

<ul id="results"></ul>
