<!DOCTYPE html>
<!--
############################################################################################
# Hauptlayout des User Interface. Die Views werden gerendert und hier eingesetzt.          #
# Die Animation und die JS-Logik für die AJAX Suche werden hier implementiert.             #
############################################################################################
-->
<html>
<head>
  <title><%= title %></title>
  <style>
  * {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: sans-serif;
  }
  
  body {
    background-color: #fcfcff;
  }
  
  #bg-canvas {
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
  }
  
  #logo {
    display: block;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    margin-top: 50px;
    background-color: white;
    padding-top: 7px;
    border: 1px solid black;
    vertical-align: -4px;
  }
  
  #results {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin-bottom: 15px;
  }
  
  #results li {
    margin-top: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
  }
  
  #center_search {
    width: 550px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #center_search_field {
    display: block;
    width: 520px;
    height: 90px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 16pt;
    text-align: center;
    font-family: monospace;
  }
  
  #center_search_button {
    display: block;
    height: 30px;
    font-size: 12pt;
    padding: 6px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
  }
  
  #center_search_button:hover {
    background-color: #eee;
  }
  
  #pagination {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    width: 280px;
    padding: 4px;
  }
  
  #loadmore{
    text-align: center;
    cursor: default;
  }
  
  #loadmore:hover{
    background-color: #eee;
  }
  </style>
  
  <script type="text/javascript" src="/zepto.min.js"></script>
  <script>
  function updatePage(t) {
    var logo = document.getElementById("logo");
    logo.style.marginTop = (50 - 30*t)+"px";
    
    // Suchfeld ist in #center_search
    var centerSearch = document.getElementById("center_search");
    centerSearch.style.marginTop = (45 - 30*t)+"px";
    var centerSearchField = document.getElementById("center_search_field");
    centerSearchField.style.height = (90 - 45*t)+"px";
    
    var canvas = document.getElementById("bg-canvas");
    drawGrid(canvas, t);
  }
  
  function drawGrid(canvas, t){
    var ctx = canvas.getContext("2d");
    var centerX = canvas.width/2;
    ctx.lineWidth = 1;
    ctx.strokeStyle = "#aaa";
    
    ctx.clearRect(0,0,canvas.width,canvas.height);
    
    // Vertikalen Linien
    ctx.beginPath();
    var dx = 70*(1-t);
    for (var i=0; i<7; i++) {
      var startY = 0 - (t*canvas.height);
      var startX = (centerX - 3*dx) + i*dx;
      var stopY  = canvas.height - (t*canvas.height);
      var stopX  = (centerX - 330) + i*110;    
      
      ctx.moveTo(startX, startY);
      ctx.lineTo(stopX, stopY);      
      // falls t > 0, dann werden noch Verlängerungen der Linien gezeichnet
      if (t > 0) {
        ctx.moveTo(stopX, stopY);
        ctx.lineTo(stopX, canvas.height);
      }
    }
    ctx.stroke();
    
    // Horizontale Linien
    ctx.beginPath();
    for (var i=0; i<4; i++) {
      var startX = 0;
      var y = 70 + (canvas.height-70)*(i/4) - (t*canvas.height);
      var stopX  = canvas.width;
      ctx.moveTo(startX, y);
      ctx.lineTo(stopX, y);
    }
    ctx.stroke();
  }
  
  window.resultsPage = false;
  window.animationKey = 0.0;
  
  function runAnimation(){
    animationKey += 0.02;
    updatePage(animationKey);
    if (animationKey < 1) {
      setTimeout(runAnimation, 0.02);
    }
  }
  </script>
</head>
<body>
  <canvas id="bg-canvas"></canvas>
  <div id="logo">BREAKSEARCH</div>  
  <div id="container">
    <%= content %>
  </div>
</body>
</html>
