<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
  body {
    font-family: sans-serif;
    text-align: center;
  }

  input[type=text] {
    width: 300px;
  }
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <%= content %>
</body>
</html>
